.task {
  display: grid;
  grid-template-columns: minmax(10ch, 30ch) 8ch 8ch;
  row-gap: 0.1rem;
  column-gap: 0.2rem;
  line-height: 1.2rem;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-inline: auto;
  color: red;
  font-style: bold;
}
.btn:hover {
  cursor: pointer;
}
.task-data {
  justify-self: stretch;
  text-align: left;
}
