.task {
  display: grid;
  grid-template-columns: 2ch minmax(10ch, 30ch) 15ch 15ch;
  row-gap: 0.5rem;
  column-gap: 0.1rem;
  line-height: 1.2rem;
}
.task > * {
  padding-bottom: 0.25rem;
  border-bottom: 2px black solid;
}
.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding-inline: auto;
  /* background-color: gray; */
  color: red;
  font-style: bold;
}
.btn:hover {
  cursor: pointer;
}
.task-details {
  justify-self: stretch;
  text-align: left;
}
